p{
    font-size: 12px;
    color: aliceblue;
}
.parent{
    position: relative;
}

.dot{
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;    
}
.box{
    background-color: cadetblue;
    padding: 30px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}