@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Nunito&family=Open+Sans:wght@700&family=Work+Sans:wght@300&display=swap');
*{
    font-family: 'Mynerve', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.one{
    background-color: rgb(34, 55, 55);
    color: rgb(255, 255, 255);
    size: 700;
}
img{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}
.accueil{
    color: rgb(189, 158, 117);
}
.list{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    cursor: pointer;
}
li:hover{
    color: rgb(189, 158, 117);
}
body{
        background-image: url(imaageee.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
}
.two{
    color: rgb(34, 55, 55);
    background-color: rgba(255, 255, 255, 0.466);
    margin-left: 300px;
    margin-right: 300px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    display: flex;
    justify-content: center;
}
h3{
    display: flex;
    justify-content: center;
    background-color: rgb(165, 137, 100);
    color: white;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}